.boton-principal-movil {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 8px 16px;
  background-color: black;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background-color: #F88D2A;
  text-align: center;
}

* {
  font-size: 62.5%;
  margin: 0;
  box-sizing: border-box;
}

.titulo-Seccion-h1 {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
  font-size: 5.4rem;
  text-transform: uppercase;
}

.titulo-Seccion-h3 {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

.titulo-Seccion-h2 {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  text-transform: uppercase;
}

.parrafos-base {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.boton-principal {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  padding: 18px 56px;
  background-color: black;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background-color: #F88D2A;
  text-align: center;
}

@media (max-width: 1440px) {
  .titulo-Seccion-h1 {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 700;
    font-size: 5rem;
    text-transform: uppercase;
  }
  .titulo-Seccion-h2 {
    font-size: 4rem;
  }
  .titulo-Seccion-h3 {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .titulo-Seccion-h1 {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 700;
    font-size: 5rem;
    text-transform: uppercase;
  }
  .titulo-Seccion-h2 {
    font-size: 1.8rem;
  }
  .titulo-Seccion-h3 {
    font-size: 1.8rem;
  }
  .parrafos-base {
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
  }
  .boton-principal {
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: #F88D2A;
    text-align: center;
  }
}
.header__contenedor {
  display: flex;
  height: 120px;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
}
.header__contenedor .header__logo {
  height: 100px;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
  margin: 0;
}
.header__contenedor .menu-hamburguesa-abrir {
  display: none;
}
.header__contenedor .nav {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr;
}
.header__contenedor .nav .menu-hamburguesa-cerrar {
  display: none;
}
.header__contenedor .nav .header__menuNavegacion {
  display: flex;
}
.header__contenedor .nav .header__menuNavegacion li {
  list-style: none;
}
.header__contenedor .nav .header__menuNavegacion li a {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Mukta", sans-serif;
  padding-right: 16px;
  text-decoration: none;
  color: #A1412B;
  text-transform: uppercase;
}
.header__contenedor .nav .header__menuNavegacion li a:hover {
  color: #F88D2A;
}
.header__contenedor .nav .header__menuRegistro {
  display: flex;
  align-items: center;
}
.header__contenedor .nav .header__menuRegistro li {
  list-style: none;
}
.header__contenedor .nav .header__menuRegistro li a {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Mukta", sans-serif;
  padding-right: 16px;
  text-decoration: none;
  color: #A1412B;
}
.header__contenedor .nav .header__menuRegistro li a:hover {
  color: #F88D2A;
}
.header__contenedor .nav .header__menuRegistro span {
  border-right: 2px solid #A1412B;
  height: 24px;
  margin-right: 15px;
}
.header__contenedor .nav .header__menuRegistro span :hover {
  color: #F88D2A;
}

@media screen and (max-width: 900px) {
  .header__contenedor {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 120px;
    height: 120px;
    justify-content: center;
    justify-items: center;
  }
  .header__contenedor .menu-hamburguesa-abrir {
    display: block;
    font-size: 4.5rem;
    background-color: transparent;
    border: none;
    color: #F88D2A;
  }
  .header__contenedor .nav {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: #F88D2A;
    padding: 2rem;
  }
  .header__contenedor .nav .menu-hamburguesa-cerrar {
    display: block;
    font-size: 4.5rem;
    background-color: transparent;
    border: none;
    color: #A1412B;
    margin-bottom: 5rem;
  }
  .header__contenedor .nav .header__menuNavegacion {
    flex-direction: column;
    align-items: end;
  }
  .header__contenedor .nav .header__menuNavegacion li a {
    color: white;
  }
  .header__contenedor .nav .header__menuRegistro {
    flex-direction: column;
    align-items: end;
    margin-top: 2rem;
  }
  .header__contenedor .nav .header__menuRegistro li a {
    color: white;
  }
  .header__contenedor .nav .header__menuRegistro span {
    border-right: 0;
    border-top: 2px solid #A1412B;
    width: 160px;
    margin-top: 15px;
  }
  .header__contenedor .nav.visible {
    opacity: 1;
    visibility: visible;
  }
}
.hero-pase-de-liga {
  height: 700px;
  background-color: beige;
  padding: 0 10%;
  display: flex;
  align-items: center;
  margin-bottom: 150px;
  background: linear-gradient(3.16deg, #000000 -2.44%, rgba(0, 0, 0, 0) 86.3%), url(https://hibriddomo.files.wordpress.com/2023/03/banner-pase-de-liga.jpg) no-repeat;
}
.hero-pase-de-liga .hero-pase-de-liga__textos {
  padding-right: 100px;
  width: 66.66%;
  color: white;
}
.hero-pase-de-liga .hero-pase-de-liga__card-Plan {
  background-color: white;
  width: 400px;
  padding: 48px 28px;
  height: 610px;
  margin-bottom: -200px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.hero-pase-de-liga .hero-pase-de-liga__card-Plan .card-Plan__titulo {
  font-size: 4.4rem;
  font-weight: 700;
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
  margin-bottom: 36px;
}
.hero-pase-de-liga .hero-pase-de-liga__card-Plan .card-Plan__parrafo {
  font-size: 2.4rem;
  font-weight: 400;
  font-family: "Mukta", sans-serif;
  margin-bottom: 36px;
  text-align: center;
}
.hero-pase-de-liga .hero-pase-de-liga__card-Plan .card-Plan__precio-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-pase-de-liga .hero-pase-de-liga__card-Plan .card-Plan__precio-contenedor .card-Plan__precio-simbolo {
  font-size: 3.4rem;
  font-weight: 700;
  font-family: "Bai Jamjuree", sans-serif;
  margin-right: 16px;
}
.hero-pase-de-liga .hero-pase-de-liga__card-Plan .card-Plan__precio-contenedor .card-Plan__precio-cantidad {
  font-size: 5.4rem;
  font-weight: 700;
  font-family: "Bai Jamjuree", sans-serif;
}
.hero-pase-de-liga .hero-pase-de-liga__card-Plan .card-Plan__temporada {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
  margin-bottom: 40px;
}
.hero-pase-de-liga .hero-pase-de-liga__card-Plan .card-Plan__boton {
  display: flex;
  justify-content: center;
}
.hero-pase-de-liga .hero-pase-de-liga__card-Plan .card-Plan__boton .boton-principal {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  padding: 18px 56px;
  background-color: black;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background-color: #F88D2A;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .hero-pase-de-liga {
    height: 600px;
    background-color: beige;
    padding: 0 10%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 500px;
    align-items: center;
    margin-bottom: 350px;
    background: linear-gradient(3.16deg, #000000 -2.44%, rgba(0, 0, 0, 0) 86.3%), url(https://hibriddomo.files.wordpress.com/2023/03/banner-pase-de-liga.jpg) no-repeat;
    background-size: cover;
    background-position-x: -400px;
  }
  .hero-pase-de-liga .hero-pase-de-liga__textos {
    padding-right: 0;
    width: 100%;
    color: white;
  }
  .hero-pase-de-liga .hero-pase-de-liga__textos .titulo-Seccion-h1 {
    font-size: 2rem;
    text-align: center;
  }
  .hero-pase-de-liga .hero-pase-de-liga__card-Plan {
    background-color: white;
    width: 100%;
    padding: 48px 28px;
    height: 500px;
    margin-bottom: 0;
    margin-top: -120px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .hero-pase-de-liga .hero-pase-de-liga__card-Plan .card-Plan__titulo {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Bai Jamjuree", sans-serif;
    text-align: center;
    margin-bottom: 36px;
  }
  .hero-pase-de-liga .hero-pase-de-liga__card-Plan .card-Plan__parrafo {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Mukta", sans-serif;
    margin-bottom: 36px;
    text-align: center;
  }
  .hero-pase-de-liga .hero-pase-de-liga__card-Plan .card-Plan__precio-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-pase-de-liga .hero-pase-de-liga__card-Plan .card-Plan__precio-contenedor .card-Plan__precio-simbolo {
    font-size: 3.4rem;
    font-weight: 700;
    font-family: "Bai Jamjuree", sans-serif;
    margin-right: 16px;
  }
  .hero-pase-de-liga .hero-pase-de-liga__card-Plan .card-Plan__precio-contenedor .card-Plan__precio-cantidad {
    font-size: 5.4rem;
    font-weight: 700;
    font-family: "Bai Jamjuree", sans-serif;
  }
  .hero-pase-de-liga .hero-pase-de-liga__card-Plan .card-Plan__temporada {
    font-size: 3rem;
    font-weight: 700;
    font-family: "Bai Jamjuree", sans-serif;
    text-align: center;
    margin-bottom: 40px;
  }
  .hero-pase-de-liga .hero-pase-de-liga__card-Plan .card-Plan__boton {
    display: flex;
    justify-content: center;
  }
  .hero-pase-de-liga .hero-pase-de-liga__card-Plan .card-Plan__boton .boton-principal {
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    padding: 18px 56px;
    background-color: black;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: #F88D2A;
    text-align: center;
  }
}
.home-bt-Pass {
  padding: 0 10%;
  margin-top: 100px;
}
.home-bt-Pass .titulo-Seccion-h2 {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}
.home-bt-Pass .home-bt-Pass__contenedor {
  display: flex;
  margin-top: 100px;
  align-items: center;
}
.home-bt-Pass .home-bt-Pass__contenedor .home-bt-Pass__textos {
  width: 35%;
}
.home-bt-Pass .home-bt-Pass__contenedor .home-bt-Pass__textos .titulo-Seccion-h3 {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 40px;
}
.home-bt-Pass .home-bt-Pass__contenedor .home-bt-Pass__textos p {
  font-size: 2rem;
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  color: black;
}
.home-bt-Pass .home-bt-Pass__contenedor .home-bt-Pass__img {
  width: 65%;
  display: flex;
  justify-content: center;
}
.home-bt-Pass .home-bt-Pass__contenedor .home-bt-Pass__img img {
  width: 100%;
}

.home-fortalezas {
  margin-top: 100px;
  padding: 0 10%;
}
.home-fortalezas h2 {
  font-size: 14rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
  color: black;
  text-align: center;
  margin-bottom: 50px;
}
.home-fortalezas .home-fortalezas__contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "col-l col-c col-r" "col-l col-c col-r" "col-l col-c col-r";
}
.home-fortalezas .home-fortalezas__contenedor .col-l {
  grid-area: col-l;
  padding-right: 40px;
}
.home-fortalezas .home-fortalezas__contenedor .col-l .col-l-contenido h3 {
  margin-bottom: 14px;
}
.home-fortalezas .home-fortalezas__contenedor .col-l .col-l-contenido p {
  margin-bottom: 40px;
}
.home-fortalezas .home-fortalezas__contenedor .col-l .col-l-contenido .boton-principal {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  padding: 18px 56px;
  background-color: black;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background-color: #F88D2A;
  text-align: center;
}
.home-fortalezas .home-fortalezas__contenedor .col-l .col-l-contenido :nth-child(1) {
  margin-top: 88px;
}
.home-fortalezas .col-c {
  grid-area: col-c;
}
.home-fortalezas .col-c img {
  height: 880px;
}
.home-fortalezas .col-r {
  grid-area: col-r;
  padding-left: 40px;
}
.home-fortalezas .col-r .col-r-contenido h3 {
  margin-bottom: 14px;
}
.home-fortalezas .col-r .col-r-contenido p {
  margin-bottom: 40px;
}

/* responsive movil */
@media (max-width: 480px) {
  .home-bt-Pass {
    padding: 0 10%;
    margin-top: 20px;
  }
  .home-bt-Pass .titulo-Seccion-h2 {
    font-size: 2rem;
    text-align: center;
  }
  .home-bt-Pass .home-bt-Pass__contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
  }
  .home-bt-Pass .home-bt-Pass__contenedor .home-bt-Pass__textos {
    width: 100%;
  }
  .home-bt-Pass .home-bt-Pass__contenedor .home-bt-Pass__textos .titulo-Seccion-h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
  }
  .home-bt-Pass .home-bt-Pass__contenedor .home-bt-Pass__textos p {
    font-size: 1.4rem;
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    color: black;
    text-align: center;
    padding: 0 15%;
  }
  .home-bt-Pass .home-bt-Pass__contenedor .home-bt-Pass__img {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
  .home-bt-Pass .home-bt-Pass__contenedor .home-bt-Pass__img img {
    width: 100%;
  }
  .home-fortalezas {
    margin-top: 100px;
    padding: 0 10%;
  }
  .home-fortalezas h2 {
    font-size: 3rem;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 10px;
  }
  .home-fortalezas .home-fortalezas__contenedor {
    display: flex;
  }
  .home-fortalezas .home-fortalezas__contenedor .col-l {
    padding-right: 0;
  }
  .home-fortalezas .home-fortalezas__contenedor .col-l .col-l-contenido h3 {
    font-size: 18px;
    margin-bottom: 14px;
    text-align: center;
  }
  .home-fortalezas .home-fortalezas__contenedor .col-l .col-l-contenido h3:nth-child(1) {
    margin-top: 10px;
  }
  .home-fortalezas .home-fortalezas__contenedor .col-l .col-l-contenido p {
    margin-bottom: 40px;
    text-align: center;
  }
  .home-fortalezas .home-fortalezas__contenedor .col-l .col-l-contenido .boton-principal-movil {
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    padding: 8px 16px;
    background-color: black;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: #F88D2A;
    text-align: center;
    margin: 0 30%;
  }
  .home-fortalezas .home-fortalezas__contenedor .col-l .col-l-contenido:nth-child(2) {
    display: none;
  }
  .home-fortalezas .home-fortalezas__contenedor .col-c {
    display: none;
  }
  .home-fortalezas .home-fortalezas__contenedor .col-r {
    display: none;
  }
  .home-fortalezas .home-fortalezas__contenedor .col-r .col-r-contenido h3 {
    margin-bottom: 14px;
  }
  .home-fortalezas .home-fortalezas__contenedor .col-r .col-r-contenido p {
    margin-bottom: 40px;
  }
}
.pruebaAPP {
  display: flex;
  align-items: center;
  padding: 0 10%;
  height: 600px;
  background-color: #F88D2A;
  margin-top: 100px;
}
.pruebaAPP .pruebaAPP__col-l {
  padding-right: 5%;
  width: 40%;
}
.pruebaAPP .pruebaAPP__col-l .titulo-Seccion-h3 {
  margin-bottom: 2.6rem;
  color: white;
}
.pruebaAPP .pruebaAPP__col-l .parrafos-base {
  color: white;
}
.pruebaAPP .pruebaAPP__col-r {
  width: 60%;
  display: flex;
  justify-content: center;
}
.pruebaAPP .pruebaAPP__col-r img {
  width: 660px;
}
.pruebaAPP .pruebaAPP__col-l__logos-Store {
  display: flex;
}
.pruebaAPP .pruebaAPP__col-l__logos-Store img {
  margin-top: 26px;
  width: 190px;
}
.pruebaAPP .pruebaAPP__col-l__logos-Store :nth-child(1) {
  margin-right: 40px;
}

@media screen and (max-width: 440px) {
  .pruebaAPP {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    height: 470px;
    padding: 5% 10%;
    justify-content: center;
  }
  .pruebaAPP .pruebaAPP__col-l {
    padding: 0;
    width: 100%;
  }
  .pruebaAPP .pruebaAPP__col-l .titulo-Seccion-h3 {
    text-align: center;
  }
  .pruebaAPP .pruebaAPP__col-l .parrafos-base {
    text-align: center;
  }
  .pruebaAPP .pruebaAPP__col-l .pruebaAPP__col-l__logos-Store {
    justify-content: space-between;
  }
  .pruebaAPP .pruebaAPP__col-l .pruebaAPP__col-l__logos-Store img {
    margin-top: 26px;
    width: 140px;
  }
  .pruebaAPP .pruebaAPP__col-l .pruebaAPP__col-l__logos-Store :nth-child(1) {
    margin-right: 0;
  }
  .pruebaAPP .pruebaAPP__col-r {
    width: 100%;
    padding-right: 0;
    display: flex;
    justify-content: center;
  }
  .pruebaAPP .pruebaAPP__col-r img {
    width: 320px;
  }
}
.tienesElControl {
  padding: 0 10%;
  margin-bottom: 100px;
}
.tienesElControl h2 {
  text-align: center;
  margin: 100px 0 70px 0;
  text-transform: uppercase;
}
.tienesElControl .tienesElControl__cards-contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(312px, 400px));
  grid-template-rows: 312px;
  justify-items: center;
  border-radius: 10px;
  background-color: #F88D2A;
  padding: 0;
}
.tienesElControl .tienesElControl__cards-contenedor .cards-contenedor__cards {
  padding: 0px;
}
.tienesElControl .tienesElControl__cards-contenedor .cards-contenedor__cards .cards__contenido {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 246px 70px;
  justify-items: center;
}
.tienesElControl .tienesElControl__cards-contenedor .cards-contenedor__cards .cards__contenido .cards__img img {
  height: 100%;
  width: 360px;
  border: solid white 8px;
  border-radius: 10px;
  background-color: white;
}
.tienesElControl .tienesElControl__cards-contenedor .cards-contenedor__cards .cards__contenido .cards__ico {
  height: 80px;
  width: 80px;
  border: solid white 6px;
  border-radius: 100%;
  background-color: #A1412B;
  margin-top: -30px;
  display: flex;
  place-content: center center;
  place-items: center center;
}
.tienesElControl .tienesElControl__cards-contenedor .cards-contenedor__cards .cards__contenido .cards__ico img {
  width: 50%;
  height: 50%;
}
.tienesElControl .tienesElControl__cards-contenedor .cards-contenedor__cards .cards__textos {
  text-align: center;
}
.tienesElControl .tienesElControl__cards-contenedor .cards-contenedor__cards .cards__textos h3 {
  margin-bottom: 16px;
  color: white;
}
.tienesElControl .tienesElControl__cards-contenedor .cards-contenedor__cards .cards__textos .parrafos-base {
  color: white;
}

@media (max-width: 1440px) {
  .tienesElControl .tienesElControl__cards-contenedor .cards-contenedor__cards .cards__contenido .cards__img img {
    width: 300px;
    border: solid white 8px;
    border-radius: 10px;
    background-color: white;
  }
}
@media screen and (max-width: 500px) {
  .tienesElControl {
    padding: 0 0;
    margin-bottom: 100px;
    margin: auto;
    margin-bottom: 20px;
  }
  .tienesElControl h2 {
    text-align: center;
    margin: 100px 0 40px 0;
    text-transform: uppercase;
  }
  .tienesElControl .tienesElControl__cards-contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 450px;
    justify-items: center;
    border-radius: 10px;
    background-color: #F88D2A;
    padding: 30px 20px 30px 20px;
  }
  .tienesElControl .tienesElControl__cards-contenedor .cards-contenedor__cards {
    width: 100%;
  }
  .tienesElControl .tienesElControl__cards-contenedor .cards-contenedor__cards .cards__contenido {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 246px 70px;
    justify-items: center;
  }
  .tienesElControl .tienesElControl__cards-contenedor .cards-contenedor__cards .cards__contenido .cards__img img {
    height: 100%;
    width: 300px;
    border: solid white 8px;
    border-radius: 10px;
    background-color: white;
  }
  .tienesElControl .tienesElControl__cards-contenedor .cards-contenedor__cards .cards__contenido .cards__ico {
    height: 80px;
    width: 80px;
    border: solid white 6px;
    border-radius: 100%;
    background-color: #A1412B;
    margin-top: -30px;
    display: flex;
    place-content: center center;
    place-items: center center;
  }
  .tienesElControl .tienesElControl__cards-contenedor .cards-contenedor__cards .cards__contenido .cards__ico img {
    width: 50%;
    height: 50%;
  }
  .tienesElControl .tienesElControl__cards-contenedor .cards-contenedor__cards .cards__textos {
    margin-bottom: 30px;
    text-align: center;
  }
  .tienesElControl .tienesElControl__cards-contenedor .cards-contenedor__cards .cards__textos h3 {
    margin-bottom: 16px;
    color: white;
  }
  .tienesElControl .tienesElControl__cards-contenedor .cards-contenedor__cards .cards__textos .parrafos-base {
    color: white;
  }
}
footer {
  padding: 34px 10%;
  height: 320px;
  background-color: #A1412B;
  display: grid;
  grid-template-columns: 25% 20% 25% 30%;
  grid-template-rows: 1fr;
  text-transform: uppercase;
}
footer .footer__titulo {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Mukta", sans-serif;
  margin-bottom: 20px;
  color: white;
}
footer .footer__col1 {
  width: 70%;
}
footer .footer__col1 .footer__logo {
  font-size: 3.4rem;
  font-weight: 700;
  font-family: "Bai Jamjuree", sans-serif;
  margin-bottom: 30px;
  color: white;
}
footer .footer__col1 p {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Mukta", sans-serif;
  margin-bottom: 14px;
  color: white;
}
footer .footer__col1 .footer__copy {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Mukta", sans-serif;
  text-transform: uppercase;
  color: white;
}
footer .footer__col2 ul {
  padding: 0;
}
footer .footer__col2 ul li {
  list-style: none;
}
footer .footer__col2 ul li .footer__links {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Mukta", sans-serif;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
footer .footer__col3 .footer__col3_contenedor {
  display: flex;
  width: 80%;
  align-items: center;
  margin-top: 14px;
}
footer .footer__col3 .footer__col3_contenedor i {
  font-size: 20px;
  color: white;
}
footer .footer__col3 .footer__col3_contenedor a {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Mukta", sans-serif;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  padding-left: 24px;
}
footer .footer__col4 .footer__boton-suscribirte {
  display: flex;
}
footer .footer__col4 .footer__boton-suscribirte .boton-suscribirte__email {
  width: 296px;
  height: 40px;
  background-color: white;
  padding-left: 10px;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Mukta", sans-serif;
  border: 0;
}
footer .footer__col4 .footer__boton-suscribirte .boton-suscribirte__boton {
  width: 100px;
  height: 40px;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Mukta", sans-serif;
  text-transform: uppercase;
  background-color: #F88D2A;
  color: white;
  border: none;
}
footer .footer__col4 p {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Mukta", sans-serif;
  text-transform: uppercase;
  color: white;
  margin: 24px 0 16px;
}
footer .footer__col4 .footer__texto-Social-Media {
  display: flex;
}
footer .footer__col4 .footer__texto-Social-Media a {
  padding-right: 10px;
  text-decoration: none;
}
footer .footer__col4 .footer__texto-Social-Media a i {
  font-size: 24px;
  color: white;
}

@media screen and (max-width: 500px) {
  footer {
    padding: 34px 10%;
    height: 100%;
    background-color: #A1412B;
    display: grid;
    grid-template-columns: minmax(300px, 1fr);
    grid-template-rows: auto;
    text-transform: uppercase;
  }
  footer .footer__titulo {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Mukta", sans-serif;
    margin: 20px auto;
    color: white;
    text-align: center;
  }
  footer .footer__col1 {
    width: 100%;
  }
  footer .footer__col1 .footer__logo {
    font-size: 3.4rem;
    font-weight: 700;
    font-family: "Bai Jamjuree", sans-serif;
    margin-bottom: 30px;
    color: white;
    margin: 20px auto;
    text-align: center;
  }
  footer .footer__col1 p {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Mukta", sans-serif;
    margin-bottom: 14px;
    color: white;
    text-align: center;
  }
  footer .footer__col1 .footer__copy {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Mukta", sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
  }
  footer .footer__col2 ul {
    padding: 0;
  }
  footer .footer__col2 ul li {
    list-style: none;
    text-align: center;
  }
  footer .footer__col2 ul li .footer__links {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Mukta", sans-serif;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
  }
  footer .footer__col3 .footer__col3_contenedor {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(2, 40px);
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
  footer .footer__col3 .footer__col3_contenedor i {
    font-size: 20px;
    color: white;
    text-align: center;
  }
  footer .footer__col3 .footer__col3_contenedor a {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Mukta", sans-serif;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding-left: 0;
    text-align: center;
  }
  footer .footer__col4 .footer__boton-suscribirte {
    display: flex;
  }
  footer .footer__col4 .footer__boton-suscribirte .boton-suscribirte__email {
    width: 296px;
    height: 40px;
    background-color: white;
    padding-left: 10px;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: "Mukta", sans-serif;
    border: 0;
  }
  footer .footer__col4 .footer__boton-suscribirte .boton-suscribirte__boton {
    width: 100px;
    height: 40px;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: "Mukta", sans-serif;
    text-transform: uppercase;
    background-color: #F88D2A;
    color: white;
    border: none;
  }
  footer .footer__col4 p {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Mukta", sans-serif;
    text-transform: uppercase;
    color: white;
    margin: 24px 0 16px;
    text-align: center;
  }
  footer .footer__col4 .footer__texto-Social-Media {
    display: flex;
    justify-content: center;
  }
  footer .footer__col4 .footer__texto-Social-Media a {
    padding-right: 10px;
    text-decoration: none;
  }
  footer .footer__col4 .footer__texto-Social-Media a i {
    font-size: 24px;
    color: white;
  }
}

/*# sourceMappingURL=pase-de-liga-estilos.css.map */
