$fuente1: 'Bai Jamjuree', sans-serif;
$fuente2: 'Mukta', sans-serif;
$colorPrincipal: #A1412B;
$colorSecundario: #F88D2A;
$colorTexto: black;


@mixin botonPrincipal {
    font-family: $fuente2;
    font-weight: 400;
    font-size: 2rem;
    padding: 18px 56px;
    background-color: black;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: $colorSecundario;
    text-align: center;
}

@mixin botonPrincipal-movil {
    font-family: $fuente2;
    font-weight: 400;
    font-size: 1.6rem;
    padding: 8px 16px;
    background-color: black;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: $colorSecundario;
    text-align: center;
}

.boton-principal-movil{
    @include botonPrincipal-movil;
}


@mixin titulo-h1{
    font-family: $fuente1;
    font-weight: 700;
    font-size: 5.4rem;
    text-transform: uppercase;
}

@mixin titulo-h2{
    font-family: $fuente1;
    font-weight: 700;
    font-size: 5rem;
    text-transform: uppercase;
}

@mixin titulo-h3{
    font-family: $fuente1;
    font-weight: 700;
    font-size: 3rem;
}

@mixin parrafos-base {
    font-family: $fuente2;
    font-weight: 400;
    font-size: 1.6rem;
}



*{
    font-size: 62.5%;
    margin: 0;
    box-sizing: border-box;
    
}


.titulo-Seccion-h1{
    @include titulo-h1;
}

.titulo-Seccion-h3{
    @include titulo-h3;
}

.titulo-Seccion-h2{
    @include titulo-h2;
}

.parrafos-base{
    @include parrafos-base;
}

.boton-principal{
    @include botonPrincipal;
}



@media (max-width: 1440px){
   
    @mixin titulo-h1{
        font-size: 4.5rem;
        
    }
    .titulo-Seccion-h1{
        @include titulo-h2;
    }
   
   
    @mixin titulo-h2{
        font-size: 4rem;
        
    }
    .titulo-Seccion-h2{
        @include titulo-h2;
    }

    @mixin titulo-h3{
        font-size: 2rem;
        
    }
    .titulo-Seccion-h3{
        @include titulo-h3;
    }
}

@media (max-width: 480px){
   
    @mixin titulo-h1{
        font-size: 2rem;
        
    }
    .titulo-Seccion-h1{
        @include titulo-h2;
    }
   
   
    @mixin titulo-h2{
        font-size: 1.8rem;
        
    }
    .titulo-Seccion-h2{
        @include titulo-h2;
    }

    @mixin titulo-h3{
        font-size: 1.8rem;
        
    }
    .titulo-Seccion-h3{
        @include titulo-h3;
    }

    @mixin parrafos-base {
        font-family: $fuente2;
        font-weight: 400;
        font-size: 1.4rem;
    }

    .parrafos-base{
        @include parrafos-base;
    }

    @mixin botonPrincipal {
        font-family: $fuente2;
        font-weight: 400;
        font-size: 2rem;
        padding: 8px 16px;
        border-radius: 4px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        background-color: $colorSecundario;
        text-align: center;
    }

    .boton-principal{
        @include botonPrincipal;
    }
    
 


    

}

