.home-bt-Pass{
    padding: 0 10%;
    margin-top: 100px;

    .titulo-Seccion-h2{
        @include titulo-h2;
        text-align: center;
    }

    .home-bt-Pass__contenedor{
        display: flex;
        margin-top: 100px;
        align-items: center;

        .home-bt-Pass__textos{
            width: 35%;

            .titulo-Seccion-h3{
                @include titulo-h3;
                margin-bottom: 40px;
            }
  
            p{
                font-size: 2rem;
                font-family: $fuente2;
                font-weight: 400;
                color: black;
            }
        }

        .home-bt-Pass__img{
            width: 65%; 
            display: flex;
            justify-content: center;

            img{
                width: 100%;
            }
        }
    }
}


.home-fortalezas{
    margin-top: 100px;
    padding: 0 10%;

    h2{
        font-size: 14rem;
        font-family: $fuente1;
        font-weight: 700;
        color: black;
        text-align: center;
        margin-bottom: 50px;
    }

    .home-fortalezas__contenedor{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas:
        "col-l col-c col-r"
        "col-l col-c col-r"
        "col-l col-c col-r" ;

        .col-l{
            grid-area: col-l;
            padding-right: 40px;
            
            .col-l-contenido{

                h3{
                    margin-bottom: 14px;
                }
                p{
                    margin-bottom: 40px;
                }
                .boton-principal{
                    @include botonPrincipal;
                }
                :nth-child(1){
                    margin-top: 88px;
                }

            }

            
        }

        }
        .col-c{
            grid-area: col-c;
            img{
                height: 880px;
            }

        }

        .col-r{
            grid-area: col-r;
            padding-left: 40px;

            .col-r-contenido{
                

                h3{
                    margin-bottom: 14px;
                }
                p{
                    margin-bottom: 40px;
                }
            }
        }
    }



    /* responsive movil */

    @media (max-width: 480px) {
        .home-bt-Pass{
            padding: 0 10%;
            margin-top: 20px;

            .titulo-Seccion-h2{
                font-size: 2rem;
                text-align: center;
            }      
           
            .home-bt-Pass__contenedor{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 2fr;
                margin-top: 50px;
                align-items: center;
                justify-content: center;
        
                .home-bt-Pass__textos{
                    width: 100%;
                    
        
                    .titulo-Seccion-h3{
                        font-size: 1.8rem;
                        margin-bottom: 20px;
                        text-align: center;
                    }
          
                    p{
                        font-size: 1.4rem;
                        font-family: $fuente2;
                        font-weight: 400;
                        color: black;
                        text-align: center;
                        padding: 0 15%;
                    }
                }
        
                .home-bt-Pass__img{
                    width: 100%; 
                    margin-top: 40px;
                    display: flex;
                    justify-content: center;
        
                    img{
                        width: 100%;
                    }
                }
            }
        }
        
        
        .home-fortalezas{
            margin-top: 100px;
            padding: 0 10%;
        
            h2{
                font-size: 3rem;
                font-family: $fuente1;
                font-weight: 700;
                color: black;
                text-align: center;
                margin-bottom: 10px;
                
            }
        
            .home-fortalezas__contenedor{
                display: flex;
               
        
                .col-l{
                   
                    padding-right: 0;
                    
                    
                    .col-l-contenido{
                       

                       
        
                        h3{
                            font-size: 18px;
                            margin-bottom: 14px;
                            text-align: center;
                        }
                        h3:nth-child(1){
                            margin-top: 10px;
                        }
                        p{
                            margin-bottom: 40px;
                            text-align: center
                        }
                        .boton-principal-movil{
                            @include botonPrincipal-movil;  
                            margin: 0 30%;      

                        }

                        
                    }
                    .col-l-contenido:nth-child(2){
                        display: none;
                    }
        
                }
                .col-c{
                   display: none;
        
                }
        
                .col-r{
                    display: none;
        
                    .col-r-contenido{
                        
        
                        h3{
                            margin-bottom: 14px;
                        }
                        p{
                            margin-bottom: 40px;
                        }
                    }
                }
            }
        
          
            
    }

}