.partidoEnVivo {
    padding: 0 5%;
    height: 412px;

    .partidoEnVivo__textoFondo {
        z-index: 1;
        height: 412px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16.6rem;
        font-family: $fuente1;
        font-weight: 700;
        -webkit-text-stroke: 1px #E6E6E6;
        color: transparent;
    }

    .partidoEnVivo__contenedor {
        display: grid;
        grid-template-columns:32% 36% 32%;
        grid-template-rows: 1fr;
        z-index: 1;
        margin-top: -280px;

        .nombreDeCiudad{
            font-size: 2rem;
            font-family: $fuente1;
            font-weight: 300;
            color: $colorPrincipal;
            margin-bottom: 5px;
        }
        .nombreDeEquipo{
            font-size: 3rem;
            font-family: $fuente1;
            font-weight: 700;
            color: $colorPrincipal;
            margin: 0 0 14px 0;
        }
        .estadisticasEquipo{
            font-size: 1.8rem;
            font-family: $fuente1;
            font-weight: 300;
            color: $colorPrincipal;
            margin: 0;
        }
       

        .equiposEnVivo01 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            
            img {
                height: 188px;   
            }

            .equipo__textos{
                display: flex;
                justify-content: flex-end;
            }    
        }

        .equiposEnVivo02 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            
            img {
                height: 188px; 
            }

            .equipo__textos{
                display: flex;
                justify-content: flex-start;   
            }    
        }

        .partidoEnVivo__horarios{
            display: flex;
            justify-content: center;
            margin-top: 5%;
            font-size: 7rem;
            font-weight: 700;
            font-family: $fuente1;
        }
    }
}

.OtrosPartidosEnVivo{
    display: flex;
    overflow: hidden;
    
    
    .OtrosPartidosEnVivo__partido-Contenedor{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 70px;
        border: 2px #E3E3E3 solid;
        width: 600px;
        padding: 20px;
            

        .OtrosPartidosEnVivo__horario{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            
            img {
                height: 60%;
            }

            p{
                font-size: 1.4rem;
                font-family: $fuente1;
                font-weight: 700;
                padding: 0 10px;
            }
        }

        .OtrosPartidosEnVivo__fecha{
            text-align: center;
            font-size: 1.6rem;
            font-family: $fuente1;
            font-weight: 300;
            margin: 0;
        }

    }
}